<ion-view>
  <ion-content scroll="false">

    <ion-side-menus>
      <ion-side-menu-content>
        <ion-nav-bar class="bar bar-header bar-balanced">
          <!--  button de retour -->
          <ion-nav-back-button></ion-nav-back-button>

          <ion-nav-buttons side="left">
            <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
          </ion-nav-buttons>

              <ion-nav-title>
      discoverApp
      </ion-nav-title>

  

        </ion-nav-bar>
        <ion-nav-view >
          <ion-content class="padding">
<ion-pane>
 
      <ion-content class="padding">
        <div class="list list-inset">
          <label class="item item-input">
            <input type="text" placeholder="Prenom">
          </label>
          <label class="item item-input">
            <input type="text" placeholder="Nom">
          </label>
            <label class="item item-input">
            <input type="email" placeholder="Email">
          </label>
            <label class="item item-input">
            <input type="password" placeholder="Password">
          </label>
            <label class="item item-input">
            <input type="password" placeholder="Confirm password">
          </label>
        </div>
       <button class="button button-block button-positive">Signup</button>
        <a class="item" href="#">
         <center> Ou</center>
        <button class="button button-full button-assertive"> Goole</button>
        <button class="button button-full button-calm"> Twitter</button>
        <button class="button button-full button-positive"> Facebook</button>
        </a>
      </ion-content>
    </ion-pane>
  </ion-content>

  <!-- tabs menu -->

</ion-nav-view >
</ion-side-menu-content>

<!--  menu left -->

<ion-side-menu side="left">
<ion-header-bar class="bar-stable">
  </ion-header-bar>
  <ion-content class="custom">
  <ion-item menu-close ui-sref="">My</ion-item>
  <ion-item menu-close ui-sref="">My</ion-item>
  <ion-item menu-close ui-sref="">My</ion-item>
  <ion-item menu-close ui-sref="">My</ion-item>
  <ion-item menu-close ui-sref="">My</ion-item>


</ion-side-menu>

</ion-side-menus>


  </ion-content>
</ion-view>
